@import url("./messages.css");

:root {
    --error-color: #AA0000;
    --light-text-color: #333;
    --light-background-color: wheat;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
}

button {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game {
    flex: 1 1 auto;
}

h1 {
    font-size: 1.4rem;
    flex: 0 0 auto;
    padding-left: 1rem;
}

.room-out-header {
    flex: 0 0 auto;
    padding-right: 1rem;
}

.gameover {
    width: 25vw;
    height: 25vw;
    background-color: var(--light-background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

.invis {
    visibility: hidden;
}

.gameover > * {
    padding-left: 10px;
}

.splitview {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-end;
}

.splitview > * {
    flex: 0 0 50%;
}

.mainmenu {
    width: 25vw;
    height: 25vw;
    background-color: var(--light-background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem;
}

.mainmenu h2 {
    width: 100%;
    text-align: center;
    color: var(--light-text-color);
    font-size: 3rem;
    font-weight: normal;
    margin: 1rem 0;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}

.form-row input {
    font-size: 1rem;
    padding: 0.2rem;
    width: 7rem;
}

.form-row input.error {
    border: 1px solid var(--error-color);
}

.form-row > label {
    font-size: 1rem;
    color: #666;
    font-size: 1rem;
}

